*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dcd7d7;
}

h1{
    text-align: center;
    margin: 50px auto;
}

.swapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*width: 100%;*/
    gap: 25px;
}

.card{
    width: 200px;
    height: 250px;
    border: solid gray 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding-top: 20px;*/
}

.card p{
    font-weight: 600;
}

.card_item{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 90%;
}

hr{
    background-color: gray;
    width: 90%;
    margin: 20px auto;
}

.title{
    /*display: block;*/
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}


