@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swapper {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card {
    width: 250px;
    height: 250px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 800;
    font-style: normal;
}

.dancing-script-200 {
    font-family: "Dancing Script", cursive;
}

.sedgwick{
    font-family: "Sedgwick Ave Display";
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.indie-flower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

