*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}

.container{
    width: 100%;
    border: solid black 2px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    background-color: #24204A;
}

header{
    border: solid #24204A 4px;
    padding: 51px 115px 43px 0;
    position: relative;
    box-shadow: 0 4px 4px 0 #00000040;

}

.logo{
    /*border: solid green;*/
    position: absolute;
    top: 48px;
    left: 115px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #E5E5E5;
    opacity: 60%;

}

.main_menu{
    display: flex;
    justify-content: flex-end;
}

.main_menu ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.main_menu ul li a{
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    opacity: 60%;
}

header h2 a{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    opacity: 60%;
    text-transform: uppercase;

}

main{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 100px;

}

.main_content{
    width: 41%;
}

.One_posotion{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 5%;
    background-color: #4B4864;
    color: #8E88C1;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    margin-bottom: 32px;
}

.main_content h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 5%;
    color: #fff;
}

.main_content_text{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 5%;
    color: #8E88C1;
    margin: 32px 0;

}

.about{
    padding: 18px 71px;
    font-size: 16px;
    line-height: 100%;
    border-radius: 8px;
    box-shadow: 0 6px 20px 0 #00FFE033;
    background-color: #3F50E7;
    color: #fff;
}


.main_img{
    border-radius: 8px;
    background: #827EAC;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lorem {
    background-color: #071341;
    padding: 50px 0 150px 0;
}

.pict{
    padding: 12px;
    border-radius: 8px;
    max-width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pict_1{
    background-color: #FF6853;
}
#pict_2{
    background-color: #FF537C;
}
#pict_3{
    background-color: #80D2C4;
}
#pict_4{
    background-color: #3F50E7;
}
#pict_5{
    background-color: #95CB7C;
}

.icons_card{
    /*border: solid yellow;*/
    max-width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_data{
    margin-left: 18px;
}

.icons_card .card_data p{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    text-align: start;
}

.card_data span{
    line-height: 24px;
    letter-spacing: 5%;
    color: #8E88C1;
    font-size: 16px;

}

.icons{
    width: 82%;
    margin: 0 auto;
    /*border: solid yellow;*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lorem h2{
    width: 90%;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin: 50px auto;
}

.lorem p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5%;
    text-align: center;
    color: #8E88C1;
}

.lorem_card{
    /*border: solid yellow;*/
    width: 82%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.card_item{
    border: 2px solid #8E88C1;
    border-radius: 8px;
    width: 18%;
    height: 170px;

    position: relative;
}

.card_item p{
    text-align: center;
    padding: 0 10px 0 20px;
}


.card_pict{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
}

.map img{
    width: 100%;
}

footer{
    padding: 25px 0 35px 0;
    background-color: #071341;
}

footer p{
    /*border: solid yellow;*/
    font-size: 12px;
    line-height: 200%;
    color: #fff;
    text-align: center;
}

