*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 150px;
}

section h2{
    text-align: center;
    font-size: 48px;
}

section p{
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
}

.bacgrnd_1{
    background-color: #caa5ca;
    color: #000;
}
.bacgrnd_2{
    background-color: #3a313a;
    color: white;
}

#section_one a,#section_third a{
    color: #000;
    font-size: 36px;
}

#section_two a{
    color: white;
    font-size: 36px;
}

.down_arr{
    margin-top: 50px;
}

.up_arr{
    margin-bottom: 50px;
}