*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-color: rgb(213, 50, 50);*/
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.2fr 1.3fr 1fr;
    grid-template-areas:
        "header header header"
        "aside_left section_top aside_right"
        "aside_left section_bottom aside_right"
        "footer footer footer"
;
}

header{
    grid-area: header;
    background-color: #D9D9D9;
}

.aside_left{
    grid-area: aside_left;
    background-color: #C0BDBD;
}

.section_top{
    grid-area: section_top;
    background-color: #827878;
}

.section_bottom{
    grid-area: section_bottom;
    background-color: #B7ADAD;
}

.aside_right{
    grid-area: aside_right;
    background-color: #C0BDBD;
}

footer{
    grid-area: footer;
    background-color: #D9D9D9;
}