*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.swapper{
    /*margin-top: 100px;*/
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;

}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}

.box:hover{
    border-radius: 50%;
    background-color: gray;
    transition: 1s;
}
