@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;

    color: #E9E3DC;
}

body{
    background: #1E1E1E;
}
.font_inter{
    font-family: 'Inter', sans-serif;
}

.container{
    /*border: solid 2px white;*/
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

}

header{
    /*border: solid 2px yellow;*/
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 36px 0 72px 0;
}

header nav ul{
    display: flex;
    justify-content: center;
    gap: 60px;

}

header nav ul li a{
    display: block;
    font-size: 18px;
    line-height: 97%;
    padding: 22px 26px;
    /*border: solid 1px white;*/
    cursor: pointer;
}

header nav ul li a:hover{
    background: #B3A0CD;
    color: #1E1E1E;
}

main{
    width: 100%;
    /*border: solid greenyellow;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    width: 90%;
    /*color: #E9E3DC;*/
    text-align: center;
    font-size: 107.088px;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
}

main img{
    padding: 33px 0;
}

section{
    /*border: solid red;*/
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

.above_all{
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    padding: 98px 85px 109px;
}

.above_all .inner{
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/

}

.above_all .inner h2{
    color: #1E1E1E;
    /*font-family: "Bowlby One";*/
    font-size: 70px;
    /*font-style: normal;*/
    /*font-weight: 400;*/
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
    max-width: 533px;
}

.above_all .inner div{
    /*border: solid greenyellow;*/
    height: 100%;
}

.above_all div p{
    color: #1E1E1E;
    font-family: Inter, sans-serif;
    font-size: 24px;
    /*font-style: normal;*/
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;

    max-width: 521px;
}

.above_all button{
    margin-top: 34px;
    padding: 22px 35px;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;

    color: #1E1E1E;
    text-align: center;
    /*font-family: "Bowlby One";*/
    font-size: 18px;
    /*font-style: normal;*/
    /*font-weight: 400;*/
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;

    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 760px;
    margin: 64px auto;
}

.menu img{
    max-width: 49%;
}

.guests img{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px auto;
}

footer h2{
    /*color: #E9E3DC;*/
    text-align: center;
    /*font-family: "Bowlby One";*/
    font-size: 70px;
    /*font-style: normal;*/
    /*font-weight: 400;*/
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;

    max-width: 895px;
}

footer button{
    padding: 21px 31px;
    max-width: 200px;
    background: #D1EF53;
    margin-top: 33px;

    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    cursor: pointer;
}



