*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #028B8B;
}

form{
    /*border: solid 1px;*/
    width: 50%;
    margin: 25vh auto 0 auto;
    border-radius: 10px;
    background-color: #fff;

    padding-bottom: 100px;
}

form>h1{

    font-weight: 400;
    background-color: #E9F3F3;
    padding: 20px;
    text-align: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

form>input{
    border-color: #C3C3C3;
}

#login,#password{
    width: 75%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.footer{
    width: 75%;
    margin: 20px auto 20px auto;
    /*border: solid 1px red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rem{
    display: block;
}

.rem label{
    color: #777777;
}

#submit{
    padding: 5px 30px;
    border-radius: 10px;
    border-color: #C3C3C3;

}