*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    height: 100vh;
}

header {
    height: 5vh;
    background: #D9D9D9;
}

main{
    height: 85vh;
    display: flex;
}

.left{
    height: 100%;
    width: 29vw;
    background: #A4A4A4;
}

section{
    height: 100%;
    width: 30vw;
    background: #C1C1C1;
}

.right{
    height: 100%;
    width: 41vw;
    /*background: red;*/
}

.right_top{
    height: 50%;
    background: #7F7A7A;
}

.right_bottom{
    height: 50%;
    background: #6B6161;
}


footer{
    height: 10vh;
    background: #D9D9D9;
}











