@media screen and (max-width: 480px) {
    body{
        padding: 32px 0;
    }
    .container{
        width: 94%;
        flex-direction: column;
        gap: 1.5rem;
    }

    .card{
        width: 100%;
        margin: 0 auto;
    }
}