*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-color: rgb(213, 50, 50);*/
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";

}

header{
    grid-area: header;
    background-color: #D9D9D9;
}

main{
    grid-area: main;
    background-color: #A4A4A4;
}

footer{
    grid-area: footer;
    background-color: #D9D9D9;
}